<%  if(successMsg) {%>
    <div class="alert alert-box alert-success alert-dismissible fade show" role="alert">
        <%= successMsg  %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } if(errorMsg) {%>
        <div class="alert alert-box alert-danger alert-dismissible fade show" role="alert">
            <%= errorMsg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
<%  } %>