</main>
</div>
</div>
<!-- jQuery -->
<script src="../vendors/jquery.slim.min.js"></script>
<!-- PopperJS -->
<script src="../vendors/popper.min.js"></script>
<!-- Bootstrap Js -->
<script src="../vendors/bootstrap.min.js"></script>
<!-- Main Js -->
<script src="../scripts/main.js"></script>
</body>

</html>