<div class="search-area mt-4 mt-md-5 mb-4">
    <form action="/<%= path %>" method="get" class="searchForm-onlyDate">
        <div class="container">
            <div
                class="row d-flex justify-content-center align-items-start mb-3 mb-md-5">
                <div class="col-lg-7 d-flex align-items-start">
                    <div class="input-group mr-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="ic-calendar"></i>
                            </div>
                        </div>
                        <input type="date" class="form-control"
                        name="startDate" value="<%if(queryString.startDate){%><%= queryString.startDate; %><%}%>"/>
                        <input type="date" class="form-control"
                        name="endDate" value="<%if(queryString.endDate){%><%= queryString.endDate; %><%}%>"/>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2"  style="width: 33%">
                        <i class="ic-magnifying-glass"></i>
                        Search
                    </button>
                    <!-- <button type="button" class="btn btn-secondary">
                        <i class="ic-print"></i>
                        Print
                    </button> -->
                </div>
            </div>
        </div>
    </form>
</div>
