<div class="overview card border-danger text-uppercase">
    <div class="card-header bg-danger border-danger">
        <h2 class="h4 text-light text-center">
            Expenses Overview
        </h2>
    </div>
    <div class="container mb-4">
        <div class="row justify-content-center text-center text-md-left">
            <div class="col-md-12">
                <div class="search-area mt-4 mt-md-5 mb-4">
                    <form action="/dashboard" method="get">
                        <div class="container">
                            <div
                                class="row d-flex justify-content-center align-items-start">
                                <div class="col-lg-5 mb-3 mr-lg-3">
                                    <div class="input-group">
                                        <select class="form-control"
                                            name="expcat">
                                            <option value='' >All Categories
                                            </option>
                                            <option value="equipments" <%if(queryString.expcat=='equipments'){%> selected <%}%>>
                                                Equipments</option>
                                            <option value="transports" <%if(queryString.expcat=='transports'){%> selected <%}%>>Transports
                                            </option>
                                            <option value="salaryUtilities" <%if(queryString.expcat=='salaryUtilities'){%> selected <%}%>>
                                                Salary & Utilities
                                            </option>
                                            <option value="retailHoldings" <%if(queryString.expcat=='retailHoldings'){%> selected <%}%>>
                                                Retail H/D</option>
                                            <option value="stationeryTools" <%if(queryString.expcat=='stationeryTools'){%> selected <%}%>>
                                                Stationery & Tools
                                            </option>
                                            <option value="marketing" <%if(queryString.expcat=='marketing'){%> selected <%}%>>Marketing
                                            </option>
                                            <option value="courierCommission" <%if(queryString.expcat=='courierCommission'){%> selected <%}%>>
                                                Courier &
                                                Commission</option>
                                            <option value="others" <%if(queryString.expcat=='others'){%> selected <%}%>>Others
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-start">
                                    <div class="input-group mr-4">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="ic-calendar"></i>
                                            </div>
                                        </div>
                                        <input type="date" class="form-control"
                                        name="startDate" value="<%if(queryString.startDate){%><%= queryString.startDate; %><%}%>"/>
                                        <input type="date" class="form-control"
                                            name="endDate" value="<%if(queryString.endDate){%><%= queryString.endDate; %><%}%>"/>
                                    </div>

                                    <button type="submit"
                                        class="btn btn-danger mr-2" style="width: 33%;">
                                        <i class="ic-magnifying-glass"></i>
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-8 border-danger text-center">
                <div class="card-body bg-light text-danger b">
                    <h3 class="display-5"><%= totalExp %></h3>
                    <h6 class="card-title text-muted">Total Expenses</h6>
                </div>
            </div>
        </div>
    </div>
</div>
