<%- include('./modules/_header', {page: "Login"}); %>

<div class="login text-center bg-dark text-light">
    <%- include('./modules/_alert'); %>
    <form class="form-signin" action="/login" method="post">
        <img class="mb-3" src="../images/logo.png" height="72">
        <h1 class="h5 mb-5 text-warning font-weight-normal">Maktro
            Management System</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control"
            placeholder="Email address" name="email" required>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control"
            placeholder="Password" name="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign
            in</button>
        <p class="mt-5 mb-3 text-muted">&copy; <a class="text-warning"
                href="https://maktro.com">Maktro.com</a> <% const date = new Date(); %> <%=  date.getFullYear(); %></p>
        <p class="f-10 text-muted">Made with &hearts; by <a
                class="text-secondary" href="https://1mandev.com">1MANDEV.COM</a></p>
    </form>
</div>

<%- include('modules/_footer'); %>