<%- include('./modules/_header', {page: "Permission Denied"}); %>
<%- include('./modules/_navs', {page: ''}); %>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap
    align-items-center border-bottom mt-0 mb-3 mt-md-3 py-4">
    <div class="text-center  mt-5">
        <h2 class="display-3">Sorry, you don't have permission to access this Page.</h2>
        <a href="/" class="btn btn-lg btn-primary mt-5">&laquo; Go Back to Home</a>
    </div>
</div>

<%- include('./modules/_footer'); %>