<div class="content-box">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead class="table__header">
                <tr>
                    <th>Product Name</th>
                    <th>Quantity (Total)</th>
                    <th>Sales (Total)</th>
                    <th>Left Over</th>
                </tr>
            </thead>
            <tbody class="table__body">
                <% if(locals.inventories) {
                    inventories.forEach((inventory)=>{ %>
                <tr>
                    <td><%= inventory.product.name; %></td>
                    <td><%= inventory.quantity.toLocaleString(); %></td>
                    <td><%= inventory.sales.toLocaleString(); %></td>
                    <td class="text-danger">
                        <% const leftOverQuantity = inventory.quantity - inventory.sales; %>
                        <%= leftOverQuantity.toLocaleString(); %></td>
                </tr>
                <% })} %>
            </tbody>
        </table>
    </div>
</div>