@font-face {
  font-family: 'maktro-ms';
  src: url('fonts/maktro-ms.eot?40hb42');
  src: url('fonts/maktro-ms.eot?40hb42#iefix') format('embedded-opentype'),
    url('fonts/maktro-ms.ttf?40hb42') format('truetype'),
    url('fonts/maktro-ms.woff?40hb42') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='ic-'],
[class*=' ic-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'maktro-ms' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-warning:before {
  content: '\e900';
}

.ic-chevron-down:before {
  content: '\e901';
}

.ic-chevron-left:before {
  content: '\e902';
}

.ic-chevron-right:before {
  content: '\e903';
}

.ic-chevron-up:before {
  content: '\e904';
}

.ic-controller-paus:before {
  content: '\e905';
}

.ic-controller-play:before {
  content: '\e906';
}

.ic-controller-stop:before {
  content: '\e907';
}

.ic-dots-three-horizontal:before {
  content: '\e908';
}

.ic-dots-three-vertical:before {
  content: '\e909';
}

.ic-add-user:before {
  content: '\e90a';
}

.ic-block:before {
  content: '\e90b';
}

.ic-calendar:before {
  content: '\e90c';
}

.ic-check:before {
  content: '\e90d';
}

.ic-cog:before {
  content: '\e90e';
}

.ic-credit-card:before {
  content: '\e90f';
}

.ic-credit:before {
  content: '\e910';
}

.ic-cross:before {
  content: '\e911';
}

.ic-cycle:before {
  content: '\e912';
}

.ic-export:before {
  content: '\e913';
}

.ic-globe:before {
  content: '\e914';
}

.ic-help-with-circle:before {
  content: '\e915';
}

.ic-help:before {
  content: '\e916';
}

.ic-home:before {
  content: '\e917';
}

.ic-info-with-circle:before {
  content: '\e918';
}

.ic-info:before {
  content: '\e919';
}

.ic-location:before {
  content: '\e91a';
}

.ic-megaphone:before {
  content: '\e91b';
}

.ic-menu:before {
  content: '\e91c';
}

.ic-message:before {
  content: '\e91d';
}

.ic-minus:before {
  content: '\e91e';
}

.ic-new-message:before {
  content: '\e91f';
}

.ic-pencil:before {
  content: '\e920';
}

.ic-phone:before {
  content: '\e921';
}

.ic-pin:before {
  content: '\e922';
}

.ic-plus:before {
  content: '\e923';
}

.ic-quote:before {
  content: '\e924';
}

.ic-shop:before {
  content: '\e925';
}

.ic-shopping-cart:before {
  content: '\e926';
}

.ic-sound-mix:before {
  content: '\e927';
}

.ic-star:before {
  content: '\e928';
}

.ic-switch:before {
  content: '\e929';
}

.ic-tools:before {
  content: '\e92a';
}

.ic-typing:before {
  content: '\e92b';
}

.ic-user:before {
  content: '\e92c';
}

.ic-arrow-down:before {
  content: '\e92d';
}

.ic-arrow-left:before {
  content: '\e92e';
}

.ic-arrow-right:before {
  content: '\e92f';
}

.ic-arrow-up:before {
  content: '\e930';
}

.ic-save:before {
  content: '\e931';
}

.ic-trash:before {
  content: '\e932';
}

.ic-archive:before {
  content: '\e933';
}

.ic-attachment:before {
  content: '\e934';
}

.ic-back-in-time:before {
  content: '\e935';
}

.ic-battery:before {
  content: '\e936';
}

.ic-briefcase:before {
  content: '\e937';
}

.ic-calculator:before {
  content: '\e938';
}

.ic-compass:before {
  content: '\e939';
}

.ic-edit:before {
  content: '\e93a';
}

.ic-flag:before {
  content: '\e93b';
}

.ic-forward:before {
  content: '\e93c';
}

.ic-funnel:before {
  content: '\e93d';
}

.ic-gauge:before {
  content: '\e93e';
}

.ic-grid:before {
  content: '\e93f';
}

.ic-hour-glass:before {
  content: '\e940';
}

.ic-key:before {
  content: '\e941';
}

.ic-lock-open:before {
  content: '\e942';
}

.ic-lock:before {
  content: '\e943';
}

.ic-magnifying-glass:before {
  content: '\e944';
}

.ic-mail:before {
  content: '\e945';
}

.ic-pie-chart:before {
  content: '\e946';
}

.ic-print:before {
  content: '\e947';
}

.ic-publish:before {
  content: '\e948';
}

.ic-radio:before {
  content: '\e949';
}

.ic-rss:before {
  content: '\e94a';
}

.ic-scissors:before {
  content: '\e94b';
}

.ic-share-alternitive:before {
  content: '\e94c';
}

.ic-shopping-bag:before {
  content: '\e94d';
}

.ic-tv:before {
  content: '\e94e';
}

.ic-v-card:before {
  content: '\e94f';
}
