/*==============================
=>  Base Styles
================================*/

:root {
    --primary: #6a60a9;
    --secondary: #ffbc42;
    --gray: #e0e0e0;
    --light: #fff;
    --dark: rgb(35, 35, 35);
}

.t-primary {
    color: var(--primary) !important;
}

.b-primary {
    background-color: var(--primary) !important;
}

* {
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

body {
    font-size: 0.875rem;
}

.copyright {
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

@media only screen and (min-width) {
    .copyright {
        display: none;
    }
}

/*==============================
=>  Override Bootstrap
================================*/
.btn-primary,
.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn:hover {
    opacity: 0.95;
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    background-color: var(--primary);
    box-shadow: 0 0 0 0.2rem #6a60a990;
}

.btn-secondary,
.btn-secondary:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
    border-color: var(--secondary);
    background-color: var(--secondary);
    box-shadow: 0 0 0 0.2rem #ffbc4290;
}

/*==============================
=>  NavBar
================================*/

.navbar-brand {
    padding: 10px;
    position: relative;
}

.navbar-brand__logo {
    height: 40px;
}

.navbar-brand__name {
    font-size: 22px;
    bottom: 12px;
    padding-left: 2px;
    font-weight: 900;
    letter-spacing: 1px;
    color: var(--primary);
    position: absolute;
}

/*==============================
=>  Sidebar
================================*/

.sidebar {
    position: relative;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    height: calc(100vh - 60px);
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: hidden;

}

.sidebar .nav-item {
    margin: 5px 0;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link i {
    display: inline-block;
    margin-right: 10px;
    font-size: 17.5px;
}

.nav-link.active {
    color: var(--primary);
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

/*==============================
=>  Content Area
================================*/

.content-area {
    padding-top: 72px;
}

@media only screen and (min-width: 768px) {
    .content-area {
        padding-top: 48px;
    }
}

.content-header {
    color: var(--primary);
}

/* Content-box */
.content-box {}

.table__header {
    background-color: var(--primary);
    color: var(--secondary)
}

.table__header th {
    padding: 20px 15px;
}

.table__body td {
    padding: 10px 15px;
}

.table__actions a:not(:last-child) {
    display: inline-block;
    margin-right: 15px;
}

.table__actions-btn,
.table__actions-btn:hover {
    color: var(--primary);
    text-decoration: none;
    transition: color .2s;
}

.table__actions-btn:hover {
    color: var(--secondary);
}

/*==============================
=>  Dashboard
================================*/

.dashboard-intro {
    background-color: var(--primary);
    color: #fff;
    opacity: .75;
}