<div class="content-box">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead class="table__header">
                <tr>
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Rates(Tk.)</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody class="table__body">
                <% if(locals.products) {
                    products.forEach((product)=>{ %>
                <tr>
                    <td><%= product.name %></td>
                    <td><%= product.code %></td>
                    <td><%= product.rate.toLocaleString(); %></td>

                    <td class="table__actions text-center"
                        data-item-id="<%= product.id %>">
                        <a href="#" class="table__actions-btn productEditButton"
                            data-toggle="modal" data-target="#addProduct"><i
                                class="ic-pencil pr-2"></i>Edit</a>
                        <a href="#" class="table__actions-btn"
                            data-toggle="modal" data-target="#deleteModal"><i
                                class="ic-trash pr-2"></i>Delete</a>
                    </td>
                </tr>
                <% })} %>
            </tbody>
        </table>
    </div>
</div>